
@{
    ViewBag.Title = "_LayoutCadastroRealizado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadastro</h2>
<div><h4>Cadastro realizado com sucesso. Deseja fazer o @Html.ActionLink("login", "Login", "Account") agora?</h4> 
    <img src="~/Content/Imagens/confirmation.png" />  </div>

