<footer class="text-center">
    <div class="content-wrapper">
        <div class="float-left">
            <p id="text">&copy; @DateTime.Now.Year - Desenvolvido por <a href="https://www.linkedin.com/comm/profile/view?id=AAsAABMW19cBzqKZW5c0mSlFhNOQ7kV_PvAs11c&midToken=AQFeGVFM3TG9WA&trk=eml-job_alert_email-header-6-profile&trkEmail=eml-job_alert_email-header-6-profile-null-5aodef~iuvsbaov~x7" target="_blank">Marcio de Oliveira</a></p>
        </div>
    </div>
</footer>
